@model IPagedList<RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurants!</h1>
    <p class="lead">Feel free to search!</p>

    @* ==With a standard form==
        <form method="get">
            <input type="search" name="searchTerm" />
            <input type="submit" value="Search by name" />
        </form>
    *@

    @* ==With an Ajax using==
            @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "restaurantList" }))
        {
           <input type="search" name="searchTerm" />
           <input type="submit" value="Search by name" />
        }*@

    @* == With the ajax helper functions== *@
    <form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="restaurantList" data-otf-autocomplete="@Url.Action("Autocomplete")">
        <input type="search" name="searchTerm" />
        <input type="submit" value="Search by name" />
    </form>
</div>

@Html.Partial("_Restaurants", Model)